<h1>Cocktails List</h1>

<%= link_to "Add a cocktail to list!", new_cocktail_path %>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail)%>
      <%= link_to dose_path(cocktail),
        method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>


