<h1>Create new doses</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: 'Please add description' %>
  <%= f.association :ingredient, collection: Ingredient.order('name ASC'),
    include_blank: false %>
  <%= f.button :submit, 'Send!' %>
<% end %>
